    <header>
      <figure class="jumbotron">
        <img id="res-logo" class="jumbotron__logo" src="/img/logo-resolution-text.svg" alt="Resolution">
      </figure>
      <section class="home__kvp">
        <div class="home__kvp--item">
          <h3 class="font-weight-light">Strategy</h3>
        </div>
        <div class="hr"></div>
        <div class="home__kvp--item">
          <h3 class="font-weight-light">Design</h3>
        </div>
        <div class="hr"></div>
        <div class="home__kvp--item">
          <h3 class="font-weight-light">Results</h3>
        </div>
      </section>
    </header>
