<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

  {{ partial "head" . }}

  <body>
    {{ partial "top-nav" . }}
    <header class="who-header center-text">
      <h1 class="red">OUR WORK</h1>
      <p>We partner with our clients to make sure that our work aligns with and helps achieve their mission and business objectives. We take that partnership seriously and treat our clients’ projects as if they were our own. Because of that, we are careful to determine our fit.</p>
    </header>
    <main>

      <div class="web-container">
        <div class="web-container__header">
          <h2>Web</h2>
          <p>You need a beautiful website that will help your business grow. Ours are modern, responsive (mobile-friendly), fast, and optimized for SEO, and focused on getting you more business.</p>
        </div>
          <div class="web-container__item"><img src="/img/web/facilitron.png" alt="Facilitron"></div>
          <div class="web-container__item"><img src="/img/web/aapa.png" alt="Athens AAPA"></div>
          <div class="web-container__item"><img src="/img/web/quiet-ground.png" alt="Quiet Ground Retreats"></div>
          <div class="web-container__item"><img src="/img/web/ph-nine.png" alt="Penthouse Nine"></div>
          <div class="web-container__item"><img src="/img/web/gregg-allman.png" alt="Gregg Allman"></div>
          <div class="web-container__item"><img src="/img/web/sorba-atl.png" alt="Sorba Atlanta"></div>
          <div class="web-container__item"><img src="/img/web/nuci.png" alt="Nuci's Space"></div>
          <div class="web-container__item"><img src="/img/web/res-health.png" alt="Resolution Healthcare"></div>
      </div>
      <section class="testimonial">
        <div class="hr"></div>
        <p>&ldquo;Resolution anticipated our needs at every stage and helped us discover things we didn’t know we needed.&rdquo;</p>
        <p>- Brett Davidson, SORBA Atlanta
        <div class="hr"></div>
      </section>
      <section class="work-container">
        <div class="work-container__header"><h2>Print</h2></div>
        <div class="work-container__item"><img src="/img/print/bob-fiber-optic.jpg" alt=""></div>
        <div class="work-container__item"><img src="/img/print/athens-regional-pea-min.png" alt=""></div>
        <div class="work-container__item"><img src="/img/print/athens-regional-thimble-min.png" alt=""></div>
        <div class="work-container__item"><img src="/img/print/athens-regional-annual-report-min.jpg" alt=""></div>
        <div class="work-container__item"><img src="/img/print/athens-regional-barrow-min.png" alt=""></div>
        <div class="work-container__item"><img src="/img/print/ayp-label-rainbow-blend.png" alt=""></div>
        <div class="work-container__item"><img src="/img/print/nucis-greenroom-poster-min.png" alt=""></div>
        <div class="work-container__item"><img src="/img/print/athens-regional-infographic-min.png" alt=""></div>
        <div class="work-container__item"><img src="/img/print/vein-innovations-tennis-min.jpg" alt=""></div>
        <div class="work-container__item"><img src="/img/print/vein-innovations-tennis-skirt-min.jpg" alt=""></div>
        <div class="work-container__item"><img src="/img/print/athens-regional-education-min.png" alt=""></div>
        <div class="work-container__item"><img src="/img/print/bob-flower-girl.jpg" alt=""></div>
      </section>

      <section class="testimonial">
        <div class="hr"></div>
        <p>&ldquo;We couldn't have been happier working with everyone at Resolution.&rdquo;</p>
        <p>- Bob Sleppy, Nu&ccedil;i&rsquo;s Space
        <div class="hr"></div>
      </section>
    </main>

    {{ partial "footer" . }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/muuri/0.5.4/muuri.min.js"></script>

  </body>
</html>

