<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

  {{ partial "head" . }}

  <body>
    {{ partial "top-nav" . }}
    <header>
      <figure class="jumbotron">
        <h1 class="red">WHAT WE DO</h1>
        <p>We help businesses identify and gain the trust of their audience through better strategy, better design, and better development. We work closely with our clients to put them on the path to success.</p>
      </figure>
    </header>
    <main>
      <section class="home__what-we-do">
        <div class="home__what-we-do--card-container">
          <div id="brand-card" class="what-we-do__card">
            <h3>01. Brand Strategy</h3>
            <p>We work with you to establish a voice for your brand that differentiates you from your competitors and resonates with your audience. Brand strategy is the piece that separates you from your competition and provides the best chance for your success in the market.</p>
          </div>
          <div id="creative-card" class="what-we-do__card">
            <h3>02. Creative Direction</h3>
            <p>Creative direction is where art direction and design meet strategy. We take everything we’ve learned about your brand and concept the pieces you will send out into the world to delight your audience and turn them into loyal customers.</p>
          </div>
          <div id="web-card" class="what-we-do__card">
            <h3>03. Web Design</h3>
            <p>Consumers expect information delivered instantly and pixel-perfect on all devices. Our expert development team makes sure that your site is built to be future-proof, responsive, fast, and optimized for search engines.</p>
          </div>
          <div id="graphic-card" class="what-we-do__card">
            <h3>04. Graphic Design</h3>
            <p>We have over twenty years of award-winning experience in graphic design. We are confident in our ability to provide a clear, consistent, and compelling look and voice to help your product or service stand out from the competition.</p>
          </div>
          <div id="digital-card" class="what-we-do__card">
            <h3>05. Digital Marketing</h3>
            <p>Successful marketing means matching the right message to the right audience. In today's world, it is very likely that your customers will form their first impressions of your busines online. We ensure that your online presence tells your story in the most compelling way to attract customers, partners, or investors.</p>
          </div>
          <div id="content-card" class="what-we-do__card">
            <h3>06. Content Marketing</h3>
            <p>Content is still king. Original, relevant, and well-written content is the key to good search engine optimization and growing an audience online. We work with you and your subject matter experts to create informative and compelling content which positions your business as the experts in your field.</p>
          </div>
        </div>
      </section>
      <section class="testimonial">
        <div class="hr"></div>
        <p>&ldquo;We couldn't have been happier working with everyone at Resolution.&rdquo;</p>
        <p>- Bob Sleppy, Nu&ccedil;i&rsquo;s Space
          <div class="hr"></div>
        </section>

      </main>

      {{ partial "footer" . }}

    </body>
  </html>

