<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

  {{ partial "head" . }}

  <body>
    {{ partial "top-nav" . }}
    <header>
      <figure class="jumbotron">
        <h1 class="red">WHO WE ARE</h1>
        <p>We are a small but mighty team of seasoned professionals. Taylor and Ian each have twenty plus years of experience with complementary skills in strategy, graphic design, web design, development, and project management.</p>
        <p>We know what works and what doesn’t. We are bound by our desire to help good people rise above their competition.</p>
      </figure>
    </header>
    <main>
      <section class="team-pics">
        <img src="/img/ian.jpg" alt="Ian Kennedy"/>
        <img src="/img/taylor.jpg" alt="Taylor Little"/>
        <img src="/img/nicolette.jpg" alt="Nicolette Kubea"/>
      </section>
      <section id="strategy" class="who__section">
        <h2>Strategists</h2>
        <h3>Begin at the beginning</h3>
        <p>Businesses often confuse strategy and tactics. Strategy takes a deep and overarching look at the problem, gives it a diagnosis, a guiding policy, and an action plan. Tactics are the steps in executing your plan.</p>
        <blockquote>
          Strategy without tactics is the slowest route to victory. Tactics without strategy is the noise before defeat. &mdash; Sun Tzu
        </blockquote>
      </section>
      <section id="designers" class="who__section">
        <h2>Graphic designers</h2>
        <h3>You look good</h3>
        <p>Graphic design is the art and practice of planning and projecting ideas and experiences with visual and textual content. Though we pride ourselves on creating aesthetically pleasing layouts, we believe that the purpose of design is to communicate your story in a compelling manner to your target audience.</p>
        <blockquote>Good design is as little design as possible. &mdash; Dieter Rams</blockquote>
      </section>
      <section id="developers" class="who__section">
        <h2>Web developers</h2>
        <h3>Pixel perfect</h3>
        <p>Web development is as much art as it science. Browsers, frameworks, and search engines continue to develop at an astonishing rate. We take the time to stay up-to-date with all of it to ensure that your site is modern and as future-proof as possible.</p>
        <blockquote>There's a theory that if you gave a million monkeys typewriters and set them to work, they'd eventually come up with the complete works of Shakespeare. Thanks to the internet, we now know this isn't true. &mdash; Ian Hart</blockquote>
      </section>
      <section id="story" class="who__section">
        <h2>Our story</h2>
        <h3>20+ Years of excellence</h3>
        <p>
          Taylor opened doors under the name Resolution Digital Type and Image in 1993 with an AGFA imagesetter and a dream. He quickly became the preferred prepress and design partner of many local and regional businesses.
        </p>
        <p>
          Slowly but surely the word got out that Resolution provided great graphic design in addition to prepress and Taylor built a loyal base of happy clients. He ran Resolution as a very successful one-man shop specializing in print design and production without so much as a sign on the door.
        </p>
        <p>
          Twenty years later, there was a homecoming of sorts when Ian returned to Resolution as a partner and brought all he had learned about advertising, marketing, web design, and development.
        </p>
        <p>
          Together, they re-envisioned Resolution and set out on a mission to provide the best websites and graphic design possible to results-driven clients. Today they operate as a full-service design agency intent on getting real results for their clients.
        </p>
      </section>
      <section id="taylor" class="who__bio">
        <div class="bio-img">
          <img src="/img/taylor.jpg" alt="Taylor Little"/>
        </div>
        <div class="bio-txt">
          <h3 class="red">Taylor Little</h3>
          <p class="bio-title"><em>Founder and Partner</em></p>
          <p>Taylor has done design work for R.E.M., Widespread Panic and Kenny Rogers; served as consultant for the Lamar Dodd School of Art, House of Blues Entertainment, and Printroom.com; participated on Grammy-nominated projects including R.E.M. albums Monster and New Adventures in Hi-Fi; and worked on motion picture projects including Man in the Moon and The Virgin Suicides.</p>
        </div>
      </section>
      <section id="ian" class="who__bio">
        <div class="bio-txt">
          <h3 class="red">Ian Kennedy</h3>
          <p class="bio-title"><em>Founder and Partner</em></p>
          <p>Prior to partnering at Resolution, Ian worked as a designer and developer throughout the southeast for big hitters in advertising including BBDO South, Ogilvy and Mather, Miller Zell, Cartoon Network, and the Weather Channel. He fell in love with programming and spent twelve years as Senior Applications Developer at DaVita.</p>
        </div>
        <div class="bio-img">
          <img src="/img/ian.jpg" alt="Ian Kennedy"/>
        </div>
      </section>
      <section id="nicolette" class="who__bio">
        <div class="bio-txt">
          <h3 class="red">Nicolette Kubea</h3>
          <p class="bio-title"><em>Junior Designer</em></p>
          <p>Prior to partnering at Resolution, Ian worked as a designer and developer throughout the southeast for big hitters in advertising including BBDO South, Ogilvy and Mather, Miller Zell, Cartoon Network, and weather.com. He fell in love with programming and spent twelve years as Senior Applications Developer at DaVita.</p>
        </div>
        <div class="bio-img">
          <img src="/img/nicolette.jpg" alt="Nicolette Kubea"/>
        </div>
      </section>
      <section class="testimonial">
        <div class="hr"></div>
        <p>&ldquo;Resolution has been an amazing and talented partner for 7+ years.&rdquo;</p>
        <p>&mdash; Shelby Gutenberger, Vein Innovations</p>
        <div class="hr"></div>
      </section>

    </main>

    {{ partial "footer" . }}

  </body>
</html>

