<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

  {{ partial "head" . }}

  <body>
    {{ partial "top-nav" . }}
    <header>
      <figure class="jumbotron">
        <h1 class="red">WHO WE ARE</h1>
        <p>We are a small but mighty team of seasoned professionals. Most members of our team have twenty plus years of experience with complementary skills in strategy, graphic design, web design, development, and project management.</p>
        <p>We know what works and what doesn’t. We are bound by our desire to help good people rise above their competition.</p>
      </figure>
    </header>
    <main>
      <section class="team-pics">
        <img src="/img/taylor.jpg" alt=""/>
        <img src="/img/ian.jpg" alt=""/>
        <img src="/img/nicolette.jpg" alt=""/>
        <img src="/img/nicolette.jpg" alt=""/>
      </section>
      <section class="who__section">
        <h2>Strategists</h2>
        <h3>Begin at the beginning</h3>
        <p>Consectetur autem quo illum asperiores obcaecati fugiat Tempora quasi non consequuntur nemo voluptatibus dolorem rerum Officia consequatur accusantium consectetur est accusantium. Repellat nisi animi eos rerum autem voluptatibus quod Voluptatum.</p>
      </section>
      <section class="who__section">
        <h2>Graphic designers</h2>
        <h3>You look good</h3>
        <p>Consectetur autem quo illum asperiores obcaecati fugiat Tempora quasi non consequuntur nemo voluptatibus dolorem rerum Officia consequatur accusantium consectetur est accusantium. Repellat nisi animi eos rerum autem voluptatibus quod Voluptatum.</p>
      </section>
      <section class="who__section">
        <h2>Web developers</h2>
        <h3>Pixel perfect</h3>
        <p>Consectetur autem quo illum asperiores obcaecati fugiat Tempora quasi non consequuntur nemo voluptatibus dolorem rerum Officia consequatur accusantium consectetur est accusantium. Repellat nisi animi eos rerum autem voluptatibus quod Voluptatum.</p>
      </section>
      <section class="who__section">
        <h2>Our story</h2>
        <h3>20+ Years of excellence</h3>
        <p>
          Taylor opened doors under the name Resolution Digital Type and Image in 1993 with an AGFA imagesetter and a dream. He quickly became the preferred prepress and design partner of many local and regional businesses.
        </p>
        <p>
          Slowly but surely the word got out that Resolution provided great graphic design in addition to prepress and Taylor built a loyal base of happy clients. He ran Resolution as a very successful one-man shop specializing in print design and production without so much as a sign on the door.
        </p>
        <p>
          Twenty years later, there was a homecoming of sorts when Ian returned to Resolution as a partner and brought all he had learned about advertising, marketing, web design, and development.
        </p>
        <p>
          Together, they re-envisioned Resolution and set out on a mission to provide the best websites and graphic design possible to results-driven clients. Today they operate as a full-service design agency intent on getting real results for their clients.
        </p>
      </section>
      <section class="who__bio">
        <div class="bio-img">
          <img src="/img/taylor.jpg" alt=""/>
        </div>
        <div class="bio-txt">
          <h3 class="red">Taylor Little</h3>
          <p class="bio-title"><em>Founder and Partner</em></p>
          <p>Taylor has done design work for R.E.M., Widespread Panic and Kenny Rogers; served as consultant for the Lamar Dodd School of Art, House of Blues Entertainment, and Printroom.com; participated on Grammy-nominated projects including R.E.M. albums Monster and New Adventures in Hi-Fi; and worked on motion picture projects including Man in the Moon and The Virgin Suicides.</p>
        </div>
      </section>
      <section class="who__bio">
        <div class="bio-txt">
          <h3 class="red">Ian Kennedy</h3>
          <p class="bio-title"><em>Founder and Partner</em></p>
          <p>Prior to partnering at Resolution, Ian worked as a designer and developer throughout the southeast for big hitters in advertising including BBDO South, Ogilvy and Mather, Miller Zell, Cartoon Network, and weather.com. He fell in love with programming and spent twelve years as Senior Applications Developer at DaVita.</p>
        </div>
        <div class="bio-img">
          <img src="/img/ian.jpg" alt=""/>
        </div>
      </section>
      <section class="who__bio">
        <div class="bio-img">
          <img src="/img/taylor.jpg" alt=""/>
        </div>
        <div class="bio-txt">
          <h3 class="red">Jennifer Davidson</h3>
          <p class="bio-title"><em>Account Manager</em></p>
          <p>Jennifer previously worked as the Business Development Executive at Definition 6, managing successful projects for clients including Facebook, G.E., and Coca-Cola. She also held positions as Business Development and Client Services for Mountain View Group, Marketing Manager for Natural Body Spa, Sales Executive for Lab 601, Account Executive for Sekai, General Manager for iXL, and Content Manager for Creative Video.</p>
        </div>
      </section>
      <section class="who__bio">
        <div class="bio-txt">
          <h3 class="red">Ian Kennedy</h3>
          <p class="bio-title"><em>Founder and Partner</em></p>
          <p>Prior to partnering at Resolution, Ian worked as a designer and developer throughout the southeast for big hitters in advertising including BBDO South, Ogilvy and Mather, Miller Zell, Cartoon Network, and weather.com. He fell in love with programming and spent twelve years as Senior Applications Developer at DaVita.</p>
        </div>
        <div class="bio-img">
          <img src="/img/ian.jpg" alt=""/>
        </div>
      </section>
      <section class="testimonial">
        <div class="hr"></div>
        <p>&ldquo;We couldn't have been happier working with everyone at Resolution.&rdquo;</p>
        <p>- Bob Sleppy, Nu&ccedil;i&rsquo;s Space
        <div class="hr"></div>
      </section>

    </main>

    {{ partial "footer" . }}

  </body>
</html>

