/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://use.typekit.net/jju5hiq.css");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

a:any-link {
  text-decoration: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Setup */
html {
  /* Change default typefaces here */
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-size: 112.5%;
  color: #282828;
  -webkit-font-smoothing: antialiased; }

/* Copy & Lists */
p {
  font-family: "futura-pt", sans-serif;
  font-weight: 300;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0; }

ul, ol {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }
  ul li, ol li {
    line-height: 1.5rem; }
  ul ul, ul ol, ol ul, ol ol {
    margin-top: 0;
    margin-bottom: 0; }

blockquote {
  font-family: "futura-pt", sans-serif;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  /* Change heading typefaces here */
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem; }

h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-top: 3rem; }

h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem; }

h3 {
  font-size: 1.414rem; }

h4 {
  font-size: 0.707rem; }

h5 {
  font-size: 0.47133rem; }

h6 {
  font-size: 0.3535rem; }

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse; }
  table td, table th {
    padding: 0;
    line-height: 27px; }

/* Code blocks */
code {
  vertical-align: bottom; }

/* Leading paragraph text */
.lead {
  font-size: 1.414rem; }

/* Hug a the block above you */
.hug {
  margin-top: 0; }

a, a:active, a:hover, a:visited {
  color: #d0271a;
  text-decoration: none; }

a:active, a:hover {
  text-decoration: underline; }

.hr {
  border-bottom: 1px solid #d0271a;
  margin: 1em auto 0 auto;
  width: 60%;
  height: 10px; }

.font-weight-light {
  font-weight: 300; }

.font-weight-heavy {
  font-weight: 700; }

section {
  max-width: 1200px;
  margin: 4em auto; }

.res-btn {
  border: 1px solid #d0271a;
  padding: 10px; }

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2em;
  margin: 10em auto;
  max-width: 1200px; }
  footer p {
    margin-top: 0.5em; }

.footer__copyright {
  grid-column: 1 / span 5;
  text-align: center; }

.home__kvp {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 85%;
  margin: 1em auto; }

.home__kvp--item {
  text-align: center;
  width: 20vw;
  margin: 10px; }

.home__what-we-do {
  text-align: center; }

.home__what-we-do--card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  margin: 1em auto; }
  .home__what-we-do--card-container .what-we-do__card {
    padding: 2em;
    text-align: left; }

.home__who-we-are {
  margin: 3em auto;
  padding: 3em;
  height: 800px; }

.home__who-we-are--image1 {
  height: 400px;
  left: calc((100vw - 300px)/1.25);
  position: relative;
  top: 10px;
  width: 300px;
  z-index: 1; }

.home__who-we-are--image2 {
  height: 400px;
  left: calc((100vw - 300px)/1.35);
  margin-top: -60px;
  position: relative;
  width: 300px;
  z-index: 2; }

.home__who-we-are--text {
  background: white;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  left: calc((100vw / 2) - 550px);
  margin-top: -600px;
  padding: 2em;
  position: relative;
  top: 10px;
  width: 550px;
  z-index: 3; }
  .home__who-we-are--text h2 {
    margin-top: 0; }

.home__why-it-matters {
  text-align: center; }

.jumbotron {
  padding: 25vh 0;
  text-align: center; }

.jumbotron__logo {
  width: 50vw; }

.testimonial {
  margin: 2em auto;
  text-align: center; }

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 90vw;
  margin: 1em auto;
  padding: 1em 0; }

.top-nav__logo {
  width: 40px; }

.top-nav__menu ul {
  margin: 0; }

.top-nav__menu li {
  display: inline-block;
  margin-right: 1.25em; }

.top-nav__menu a {
  font-size: 0.9em;
  color: #d0271a; }

.blog-header {
  max-width: 1200px;
  margin: 10em auto; }
  .blog-header h1 {
    text-align: center; }

.blog-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  max-width: 1200px;
  margin: 10em auto; }
