// list
.blog-header
  margin: 10em auto
  max-width: 800px
  h1
    text-align: center

.blog-container
  align-items: end
  display: grid
  grid-gap: 4em 2em
  grid-template-columns: repeat(3, 1fr)
  margin: 10em auto
  max-width: 1000px
  @media(max-width: 900px)
    display: flex
    flex-direction: column
    flex-wrap: wrap

.blog-card
  h3
    margin-top: 0
  p
    margin-top: 0.5em
  &__image
    max-width: 300px
    img
      max-width: 300px

.blog-card:first-of-type
  grid-column: span 2

  &__image
    max-width: 630px
  img
    max-width: 630px

.blog-card:nth-child(4n)
  grid-column: span 2
  &__image
    max-width: 630px
  img
    max-width: 630px

.date
  color: $res-blue
  font-size: 0.8em
  font-weight: 500
  text-transform: uppercase

@media(max-width: 900px)
  .blog-card
    margin: 1.5em auto
  .blog-card__image img
    max-width: 300px !important

// single

.blog-content
  margin: 5em auto
  max-width: 800px

.blog__header-img
  margin: 2em auto

.blog-content img
  max-width: 100%
