<!DOCTYPE html>
<html>
  {{ partial "head" . }}
  <body>
    {{ partial "top-nav" . }}
    {{ partial "header-blog" . }}
    <div class="blog-container">
      {{ range .Data.Pages }}
      <div class="blog-card">
        <!-- image -->
        <div class="blog-card__image">
          {{ if .Params.teaser_image }}
          <img src="{{ .Site.BaseURL }}img/blog/{{ .Params.teaser_image }}" alt="{{ .Title }}"/>
          {{ end }}
        </div>
        <p class="date">{{ .Date.Format "2006 Jan 2" }}</p>
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        <p>{{ .Params.description }}</p>
      </div>
      {{ end }}
    </div>
    <ul class="pagination">
      {{ template "_internal/pagination.html" . }}
    </ul>
    {{ partial "footer" . }}
  </body>
</html>
