<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

  {{ partial "head" . }}

  <body>
    {{ partial "top-nav" . }}
    {{ partial "header-home" . }}
    <main>
      <section class="home__who-we-are">
        <div class="home__who-we-are--image1">
          <img src="/img/taylor.jpg" alt="Taylor Little"/>
        </div>
        <div class="home__who-we-are--image2">
          <img src="/img/ian.jpg" alt="Taylor Little"/>
        </div>
        <div class="home__who-we-are--text">
          <h2>WHO WE ARE</h2>
          <p>We’re Resolution, an award-winning, full-service advertising agency headquartered in Athens, Georgia for over twenty years. <span class="red">We love you</span>. A lot.</p>
          <p>Our goal is to provide better strategy, better design, better development, better content, and ultimately better results for your business. We’re a better design agency. <span class="red">We're your agency</span>. </p>
          <p><a class="res-btn" href="/who-we/are">meet your team</a></p>
        </div>
      </section>

      <section class="testimonial">
        <div class="hr"></div>
        <p>&ldquo;We couldn't have been happier working with everyone at Resolution.&rdquo;</p>
        <p>- Bob Sleppy, Nu&ccedil;i&rsquo;s Space
          <div class="hr"></div>
      </section>

      <section class="home__what-we-do">
        <h2>WHAT WE DO</h2>
        <p>From branding and identity, websites, business cards, car wraps, catalogs, billboards, and annual reports, we provide what you need.</p>
        <div class="home__what-we-do--card-container">
          <div class="what-we-do__card">
            <h3>01. Brand Strategy</h3>
            <p>We work with you to establish a voice for your brand that differentiates you from your competitors and resonates with your audience. Brand strategy is the piece that separates you from your competition and provides the best chance for your success in the market.</p>
          </div>
          <div class="what-we-do__card">
            <h3>02. Creative Direction</h3>
            <p>Creative direction is where art direction and design meet strategy. We take everything we’ve learned about your brand and concept the pieces you will send out into the world to delight your audience and turn them into loyal customers.</p>
          </div>
          <div class="what-we-do__card">
            <h3>03. Web Design</h3>
            <p>Our expert development team ensures that your site is built to be future-proof, responsive, fast, and optimized for search engines. We dont' stop at great design &mdash; where most agencies neglect development, we obsess over it.</p>
          </div>
          <div class="what-we-do__card">
            <h3>04. Graphic Design</h3>
            <p>We have over twenty years of award-winning experience in graphic design. We are confident in our ability to provide a clear, consistent, and compelling look and voice to help your product or service stand out from the competition.</p>
          </div>
        </div>
        <p><a class="res-btn" href="/what-we-do">our services</a></p>
      </section>

        <section class="home__why-it-matters">
          <h2>WHY IT MATTERS</h2>
          <p>Our world is increasingly information-rich and time-poor. Your brand faces fierce competition for the hearts and minds of your audience. Consumers are faced with more choices than ever before. They are more connected and better informed. The channels for reaching them are changing. We help you leverage the changes while remaining focused on what hasn’t changed—thier humanity.</p>
          <p>We help you stand out.</p>
          <p><a href="/portfolio" class="res-btn">our work</a></p>
        </section>

        <section class="home__blog">
          <h2>Recent Articles</h2>
          <p>Ipsum excepturi facere quo minus repudiandae Error enim quia possimus aspernatur enim rem Omnis maxime temporibus libero blanditiis libero! Quidem velit omnis itaque commodi nam? Dolorum hic adipisci architecto quibusdam!</p>
        </section>

      </main>

      {{ partial "footer" . }}

    </body>
  </html>

