<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

  {{ partial "head" . }}

  <body>
    {{ partial "top-nav" . }}
    {{ partial "header-home" . }}
    <main>
      <section class="home__who-we-are" id="who-we-are">
        <div class="home__who-we-are--text">
          <div class="bg-white">
            <h2>WHO WE ARE</h2>
            <p>We’re Resolution, an award-winning, full-service advertising agency headquartered in Athens, Georgia for over twenty years. <span class="red">We love you</span>.</p>
            <p>Our goal is to provide better strategy, better design, better development, better content, and ultimately better results for your business. We’re a better design agency. <span class="red">We're your agency</span>. </p>
            <a id="meet-your-team-btn" class="res-btn" href="/who-we-are">meet your team</a>
          </div>
        </div>
        <div class="home__who-we-are--image1">
          <img id="taylor" src="/img/taylor.jpg" alt="Taylor Little"/>
        </div>
        <div class="home__who-we-are--image2">
          <img id="ian" src="/img/ian.jpg" alt="Taylor Little"/>
        </div>
      </section>

      <section class="testimonial">
        <div class="hr"></div>
        <p>&ldquo;We couldn't have been happier working with everyone at Resolution.&rdquo;</p>
        <p>&mdash; Bob Sleppy, Nu&ccedil;i&rsquo;s Space</p>
          <div class="hr"></div>
      </section>

      <section class="home__what-we-do" id="what-we-do">
        <div class="what-we-do--header" id="what-we-do--header">
          <h2>WHAT WE DO</h2>
          <p>From branding and identity, websites, business cards, car wraps, catalogs, billboards, and annual reports, we provide what you need.</p>
        </div>
        <div class="what-we-do--strategy" id="what-we-do--strategy">
          <h3>Strategy and marketing.</h3>
          <p>Every Resolution project begins with a strategy session where we learn as much as we can about your business, your audience, and your goals. We use that information to tailor a custom marketing plan which optimizes your message for your audience and maximizes your advertising dollar.</p>
        </div>
        <div class="what-we-do--section">
          <h3>Identity.</h3>
          <img src="/img/identity/logo-groove-burger-min.png" alt=""/>
          <img src="/img/identity/logo-bluegirl-min.png" alt=""/>
          <img src="/img/identity/logo-loftin-group-min.png" alt=""/>
          <img src="/img/identity/logo-downtown-athens-min.jpg" alt=""/>
        </div>
        <div class="what-we-do--section">
          <h3>Web.</h3>
          <img src="/img/web/web-facilitron.png" alt=""/>
          <img src="/img/web/web-allman.png" alt=""/>
          <img src="/img/web/web-quiet.png" alt=""/>
          <img src="/img/web/web-aapa.png" alt=""/>
        </div>
        <div class="what-we-do--cta">
          <a href="/what-we-do" class="res-btn">our services</a>
        </div>
      </section>

        <section class="home__why-it-matters" id="why-it-matters">
          <h2>WHY IT MATTERS</h2>
          <p>Our world is increasingly information-rich and time-poor. Your brand faces fierce competition for the hearts and minds of your audience. Consumers are faced with more choices than ever before. They are more connected and better informed. The channels for reaching them are changing. We help you leverage the changes while remaining focused on what hasn’t changed—thier humanity.</p>
          <p class="red">We help you stand out.</p>
          <a href="/our-work" class="res-btn">our work</a>
        </section>

        <!-- <section class="home__blog" id="blog"> -->
        <!--   <h2>Recent Articles</h2> -->
        <!--   <p>The difference between an expert and a practicioner is this: an expert publishes. Here are a few of the latest articles from our design and development blog.</p> -->
        <!-- </section> -->

      </main>

      {{ partial "footer" . }}

    </body>
  </html>

