.blog-header
  max-width: 1200px
  margin: 10em auto
  h1
    text-align: center

.blog-container
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows:
  grid-gap: 1em
  max-width: 1200px
  margin: 10em auto

.blog-card
