footer
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr
  grid-gap: 2em
  margin: 10em auto
  max-width: 1200px
  p
   margin-top: 0.5em
.footer
  &__follow
  &__connect
  &__about
  &__resources
  &__copyright
    grid-column: 1 / span 5
    text-align: center
