.home__what-we-do
  text-align: center

.home__what-we-do--card-container
  display: grid
  grid-template-columns: repeat(2, minmax(400px, 1fr))
  grid-gap: 2em
  margin: 5em auto
  transition: all 1s
  .what-we-do__card
    text-align: left
