.jumbotron
  align-items: center
  display: flex
  flex-direction: column
  justify-content: center
  margin: 10vh auto
  max-width: 1000px
  padding: 0 1em
  text-align: center
  h1
    margin-top: 0

#res-logo
  margin: 0 1em
